---
layout: default
home: true
---



{% for post in paginator.posts %}

{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

  <article class="index clearfix">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <div class="thumb" {% if post.thumbnail %}style="background-image: url({{ site.baseurl }}/img/thumbs/{{ post.thumbnail }});"{% elsif post.cover-image %}style="background-image: url({{ site.baseurl }}/img/covers/{{ post.cover-image }});"{% endif %}></div>
      <div class="info">
        <span class="meta">
      	<h1>{{ post.title }}</h1>
          <p>
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          {% endif %}
          </p>
          {{ post.date | date: site.date_format }}<span class="devider-dot"></span>{{ read-time }}</span>
        </div>
      </a>
  </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
